@model LancheListViewModel
<div><h2>@Model.CategoriaAtual</h2></div>


@foreach (var lanche in Model.Lanches)
{

    @*@Html.Partial("_LancheResumo", lanche);*@ 
    <partial name="_LancheResumo" for="@lanche"/>
}